<div class="card rounded shadow-md">
  <form [formGroup]="formPartida">
     <div class="p-3">
       <div class="form-row">
         <div class="form-group col-md-6">
           <label><strong>Descrição</strong></label>
           <input type="text" class="form-control" [ngClass]="cssValidator(f.partidaDescricao)" formControlName="partidaDescricao" placeholder="Insira a descrição da partida">
           <div *ngIf="f.partidaDescricao.errors?.required" class="invalid-feedback"> Campo Obrigatório</div>
           <div *ngIf="f.partidaDescricao.errors?.minlength" class="invalid-feedback"> Minimo de 4 caracteres</div>
           <div *ngIf="f.partidaDescricao.errors?.maxlength" class="invalid-feedback"> Maximo de 20 Caracteres</div>
         </div>
         <div class="form-group col-md-3">
          <label><strong>Data:</strong></label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.partidaData)" formControlName="partidaData"
                 bsDatepicker
                 value="{{partida.partidaData | DateTimeFormat}}"
                 [bsConfig]="bsConfig"
                 placeholder="Selecione a data">
          <div *ngIf="f.partidaData.errors?.required" class="invalid-feedback"> Campo Obrigatório</div>
          <div *ngIf="f.partidaData.errors?.minlength" class="invalid-feedback"> Minimo de 4 caracteres</div>
          <div *ngIf="f.partidaData.errors?.maxlength" class="invalid-feedback"> Maximo de 10 Caracteres</div>
        </div>
        <div class="form-group col-md-3">
          <label><strong>Posição</strong></label>
          <input type="number" class="form-control" [ngClass]="cssValidator(f.posicao)" formControlName="posicao" placeholder="Insira a descrição da partida">
          <div *ngIf="f.posicao.errors?.required" class="invalid-feedback"> Campo Obrigatório</div>
          <div *ngIf="f.posicao.errors?.min" class="invalid-feedback"> Necessário valor entre 1 e 55</div>
          <div *ngIf="f.posicao.errors?.max" class="invalid-feedback"> Necessário valor entre 1 e 55</div>
        </div>
       </div>
       <div class="form-row">
        <div class="form-group col-md-4">
          <label><strong>Treino</strong></label>
          <select aria-label="Treino" [(ngModel)]="soTreino" class="form-control form-select" formControlName="treinoId">
            <option value="0">Selecione uma opção</option>
            <option *ngFor="let tre of treino" [value]="tre.id"> {{tre.treinoDescricao}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label><strong>Mapa</strong></label>
          <select aria-label="Mapa" [(ngModel)]="soMapa" (ngModelChange)="onSelecionaMapa()" class="form-control form-select" formControlName="mapaId" >
            <option value="0">Selecione o Mapa</option>
            <option *ngFor="let map of mapas" value={{map.id}}> {{map.mapaNome}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label><strong>Call</strong></label>
          <select aria-label="Call" [(ngModel)]="soCall" class="form-control form-select" formControlName="callId">
            <option *ngIf='mapaSelecionado === 0' value="0">Selecione o Mapa</option>
            <option *ngIf='mapaSelecionado > 0' value="0">Selecione a call</option>
            <option *ngFor="let c of calls" value={{c.id}}> {{c.callCidade}}</option>
          </select>
        </div>
       </div>
       <div class="form-row">

        <div class="form-group col-md-4">
         <label><strong>Modo:</strong></label>
         <select aria-label="Modo" [(ngModel)]="soModo" (ngModelChange)="onSelecionaModo()" class="form-control form-select" formControlName="modoId">
          <option value="0">Selecione o Modo</option>
          <option *ngFor="let m of modos" value={{m.id}}> {{m.modoDescricao}}</option>
        </select>
       </div>
       <div class="form-group col-md-4">
        <label><strong>Sub-Modo:</strong></label>
        <select aria-label="SubModo" [(ngModel)]="soSubModo" class="form-control form-select" formControlName="submodoId">
          <option value="0">Selecione o Sub-Modo</option>
          <option *ngFor="let sm of smodos || []" value={{sm.id}}>
            {{sm.submodoDescricao}}
          </option>
        </select>
      </div>
      </div>
     </div>
     <div class="card-footer">
       <div class="d-flex">
         <button  class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
           Cancelar Alteração
         </button>
         <button class="btn btn-success" [disabled]="!formPartida.valid" (click)="salvarPartida()">
           <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
           Salvar
         </button>
         <button class="btn btn-primary ml-1" (click)="alterarEstatistica()">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          {{this.txtmodo}}
        </button>
       </div>
     </div>
   </form>
</div>



<app-estatisticas-visualizar [modo]="this.modo"></app-estatisticas-visualizar>
<app-estatistica-editar [modo]="this.modo"></app-estatistica-editar>


<!-- <ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja realmente efetuar a exclusão da Estatistica ?</p>
    <button type="button" class="btn btn-primary mr-3" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-danger" (click)="decline()" >Não</button>
  </div>
</ng-template> -->




<style type="text/css">

.iconesSociais {
color: rgb(94, 94, 94);
}

.capitalize {
text-transform: capitalize;
border-bottom: 1px solid rgb(226, 226, 226);
color: silver;
}

.tab-pane {
padding: 20px 8px 8px;
border-top: 0px;
border-right: 1px solid #dee2e6;
border-bottom: 1px solid #dee2e6;
border-left: 1px solid #dee2e6;
}

.card-evento {
position: sticky;
--default-height: 25px;
top: var(--default-height);
}

</style>
