.chart-container-taxaVitoria {
    position: relative;
    height: 15rem;
    width: 12.5rem;
  }
  .chart-container-comparacao {
    position: relative;
    height: 15rem;
    // width: 400px;
  }
  
  .chart-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: bold;
  }
  .chart-container-historico {
    position: relative;
    height: 15rem;
  }
  