<div class="card rounded shadow-md">
  <form [formGroup]="form">
     <div class="p-3">
       <div class="form-row">
         <div class="form-group col-md-6">
           <label><strong>Nome da Cidade</strong></label>
           <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid': f.callCidade.errors && f.callCidade.touched}" formControlName="callCidade" placeholder="Insira o Nome">
           <div *ngIf="f.callCidade.errors?.required" class="invalid-feedback"> Campo Obrigatório</div>
           <div *ngIf="f.callCidade.errors?.minlength" class="invalid-feedback"> Minimo de 4 caracteres</div>
           <div *ngIf="f.callCidade.errors?.maxlength" class="invalid-feedback"> Maximo de 25 Caracteres</div>
         </div>
         <div class="form-group col-md-6">
          <label><strong>Selecione o mapa</strong></label>
          <select type="multiselect" class="form-control form-select" formControlName="mapaId">
            <option value="0">Selecione uma Line</option>
            <option *ngFor="let map of mapas" value={{map.id}}> {{map.mapaNome}}</option>
          </select>
        </div>
       </div>
     </div>
     <div class="card-footer">
       <div class="d-flex">
         <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
           Cancelar Alteração
         </button>
         <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
           <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
           Salvar
         </button>
       </div>
     </div>
   </form>
</div>
