<div class="card rounded shadow-md p-3">
  <div class="d-flex">
    <div class="flex-fill">
      <div class="input-group mb-2 ">
        <div class="input-group-prepend">
          <div class="input-group-text">Id: </div>
        </div>
        <input type="text" class="form-control" placeholder="Insira o Id do Jogador" >
      </div>
    </div>
    <div class=" mr-6">
      <button class="btn btn-success"  (click)="BuscarJogador()">
        <span  class="fa-solid fa-search"></span>
        Buscar
      </button>
    </div>
  </div>
  <div class="card rounded shadow-sm mt-4">
    <div class="d-flex border-bottom">
      <h2 class="mr-auto">
        Dados do Jogador
      </h2>
      <h2>
        <i class="fa-solid fa-person-military-rifle"></i>
      </h2>
      
    </div>
    <div class="p-1">
      <div class="col">
        <div >
          <table class="table table-striped table-light text-center table-hover">
            <thead class="thead-dark">
              <tr>
                <th class="d-none d-md-table-cell">ID do Jogo</th>
                <th>NickName</th>
                <th>Level</th>
                <th>Experiencia</th>
                <th>Likes</th>
                <th class="d-none d-md-table-cell">Criado em</th>
                <th class="d-none d-md-table-cell">Melhor Jogador</th>
                <th class="d-none d-md-table-cell">Ultima Vez</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody >
              <tr >
                <th class="d-none d-md-table-cell"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="d-none d-md-table-cell"></th>
                <th class="d-none d-md-table-cell"></th>
                <th class="d-none d-md-table-cell"></th>
                <th>
                  
                </th>
              </tr>
            </tbody>
            <tfoot >
              <tr>
                <td colspan="9" class="text-center">
                  <h4>Nenhhuma call encontrada!</h4>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
