<div class="card rounded shadow-sm mt-4" *ngIf="modo==='visualizar'">
  <div class="p-3">
    <div class="d-flex border-bottom">
      <h2 class="mr-auto">
        Estatisticas
      </h2>
      <h2>
        <i class="fa-solid fa-chart-column"></i>
      </h2>
    </div>
    <div class=" row mt-4">
      <div class="col-md-2 text-left">
        <p>K/D/A</p>
      </div>
      <div *ngFor="let item of stats" class="row mt-1">
        <div  class="card ">
          <div class="card-body">
            <div class="col-md-2 text-left">
              <b>{{item.jogador.jogadorNick}}</b>
              <p>{{item.kill}}|{{item.morte}}|{{item.assistencia}}</p>
            </div>
          </div>
        </div>
      </div >
    </div>
    <div class="container">
      <!-- Linha do jogador -->
      <div class="row">
        <div class="player-info">
          <img src="https://via.placeholder.com/40" alt="Avatar">
          <div>
            <div>VRT Loki</div>
            <div>12/02</div>
          </div>
        </div>
        <div class="stats">
          <!-- DMG -->
          <div class="stat">
            <div>4043</div>
            <div class="progress-bar">
              <div style="width: 38%; background-color: #007bff;"></div>
            </div>
          </div>
          <!-- Derrubados -->
          <div class="stat">
            <div>13</div>
            <div class="progress-bar">
              <div style="width: 54%; background-color: #ff4500;"></div>
            </div>
          </div>
          <!-- Cura -->
          <div class="stat">
            <div>611</div>
            <div class="progress-bar">
              <div style="width: 18%; background-color: #32cd32;"></div>
            </div>
          </div>
          <!-- Levantados -->
          <div class="stat">
            <div>2</div>
            <div class="progress-bar">
              <div style="width: 40%; background-color: #ffc107;"></div>
            </div>
          </div>
          <!-- Sistema de Retorno -->
          <div class="stat">
            <div>0</div>
            <div class="progress-bar">
              <div style="width: 0%; background-color: #555;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
