<div class="card rounded shadow-sm mt-4" *ngIf="modo==='visualizar'">
  <div class="p-3">
    <div class="d-flex border-bottom">
      <h2 class="mr-auto">
        Estatisticas
      </h2>
      <h2>
        <i class="fa-solid fa-chart-column"></i>
      </h2>
    </div>
    <div class=" row mt-2">
      <!-- <div class="col-md-2 text-left">
        <p>K/D/A</p>
      </div> -->
      <!-- <div *ngFor="let item of stats" class="row mt-1">
        <div  class="card ">
          <div class="card-body">
            <div class="col-md-2 text-left">
              <b>{{item.jogador.jogadorNick}}</b>
              <p>{{item.kill}}|{{item.morte}}|{{item.assistencia}}</p>
            </div>
          </div>
        </div>
      </div > -->
      <div class="d-flex flex-column gap-3">
        <div class="row align-items-center">
          <div class="col-1">

          </div>
          <div class="col-3">K / D / A</div>
          <div class="col-8 d-flex">
            <div class="text-center me-3 col-2"> Dano</div>
            <div class="text-center me-3 col-2">Derrubados</div>
            <div class="text-center me-3 col-2">Cura</div>
            <div class="text-center me-3 col-2">Levantados</div>
            <div class="text-center me-3 col-2">Ressucitou<div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let item of stats" class="container mt-2 card rounded">
      <!-- Container principal -->
      <div class="d-flex flex-column gap-3">
        <!-- Linha de jogador -->
        <div class="row align-items-center">
          <div class="col-1">

          </div>
          <!-- Informação do jogador -->
          <div class="col-3">
            <div>
              <strong>{{item.jogador.jogadorNick}}</strong>
            </div>
            <div>{{item.kill}} / {{item.morte}} / {{item.assistencia}}</div>
          </div>
          <!-- Estatísticas -->
          <div class="col-8 d-flex">
            <!-- DMG -->
            <div class="text-center me-3 col-2">
              <div>{{item.dano}}</div>
              <div class="progress" style="height: 10px;">
                <div class="progress-bar" 
                [ngStyle]="{ width: item.porcentagem.percentDano + '%' }" 
                [title]="item.porcentagem.percentDano.toFixed(2) + '%'"
                ></div>
              </div>
            </div>
            <!-- Derrubados -->
            <div class="text-center me-3 col-2">
              <div>{{item.derrubado}}</div>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" style="width: 54%;"></div>
              </div>
            </div>
            <!-- Cura -->
            <div class="text-center me-3 col-2">
              <div>{{item.cura}}</div>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" style="width: 18%;"></div>
              </div>
            </div>
            <!-- Levantados -->
            <div class="text-center me-3 col-2">
              <div>{{item.levantados}}</div>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" style="width: 40%;"></div>
              </div>
            </div>
            <!-- Sistema de Retorno -->
            <div class="text-center me-3 col-2">
              <div>{{item.ressucitou}}</div>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" style="width: 0%;"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim da linha -->
      </div>
    </div>
</div>
